body {
    background-image: url(https://images5.alphacoders.com/480/480537.png);
}
#nav-bar {
    overflow: hidden;
}
.home {
    color: #20C20E;
}
#whole {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover {
    background-color: #111;
  }
  #home {
    text-align: center;
    min-height: 100vh;
  }
  h1 {
    padding: 10px 300px 10px 300px;
    margin-top: 30px;
    color: #20C20E;
  }
  .bio{
    padding: 10px 300px 10px 300px;
    margin-top: 550px;
    margin-bottom: 550px;
    font-size: 150%;
    color: #20C20E;
    background-color: black;
    justify-content: center;
  }
  .sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
  } 